Session.vim
*.pyc
.ropeproject
*~
*.sqlite3
*db.sqlite3-journal
*.csv
.#*
nosync
media
virtualenv
*.swp
*.log
*.rdb
oldfiles
.coverage
data
.DS_Store
output
commondir
.env
__pycache__
.idea
.envs
.venv